
#gastronomic-world {
    width: 100%;
    position: relative;
    display: inline-block;
}
#gastronomic-world .container {            
    max-width: 960px;
    height: 450px;
    margin: 0 auto; 
    background-color: var(--white);
}
#gastronomic-world .container h2 {
    font-family: var(--fair);
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 55px;
}
#gastronomic-world .gw-types {            
    max-width: 660px;
    margin: 0 auto;
}
#gw-selector {
    width: 319px;
    height: 214px;
    float: left;
    font-size: 26px;
}
amp-selector#gw-selector [option][selected] {
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.16);
    outline: none;
    color: var(--lipstick); 
}
.items {
    width: 225px;
    margin-bottom: 12px;
    padding: 20px 0px 20px 100px;
    border: solid 0.5px #f0f0f0;
    background-color: var(--white);
    color: #a19b9b;            
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0) ;
    font-family: var(--fair);
    font-size: 16px;
    transition-timing-function: ease-in;
    transition: 0.5s;
}    

.items:hover {
    color: var(--lipstick);
    border-color:  var(--lipstick);
    box-shadow: 0 5px 25px 0 #fff;
}
.cuisine .items{
    background: url('/img/Cozinha.png') no-repeat;
    background-position: 55px center;
}
.cuisine .items:hover, amp-selector#gw-selector .cuisine [option][selected]{
    background-image: url('/img/Cozinha_active.png');
}
.patisserie .items{
    background: url('/img/Patisserie.png') no-repeat;
    background-position: 55px center;
}
.patisserie .items:hover, amp-selector#gw-selector .patisserie [option][selected]{
    background-image: url('/img/Patisserie_active.png');
}
.drink .items{
    background: url('/img/Drinks.png') no-repeat;
    background-position: 55px center;
}
.drink .items:hover, amp-selector#gw-selector .drink [option][selected] {
    background-image: url('/img/Drinks_active.png');
}

#gw-carousel{
    width: 319px;            
    height: 213px;

    float: right; 
}
#gw-carousel img{
    object-fit: cover;
}

footer {
    width: 100%;
    height: 180px;
    float: left;
    background: url('/img/Rodapé.png') no-repeat center top;
    background-size: contain;
}

footer .container {
    width: 660px;
    margin: 0 auto;

    padding-top: 70px;
}

footer .logo {
    margin: 20px 0 0 0;
}

.copyright {
    margin: 32px 0 0 20px;
    font-family: HelveticaNeue;
    font-size: 7px;
    font-weight: 700;
    text-align: left;
    color: #000000;
    float: left;
}
#social-media {
    margin-top: 25px;
    float: right;
}
#social-media a {
    width: 14.5px;
    height: 14.5px;
    
    margin-right: 17.5px;

    display: inline-block;

    transition-timing-function: ease-in;
    transition: 0.5s;
}
.facebook {
    background: url('/img/Fb.png') no-repeat;
}
.facebook:hover {
    background-image: url('/img/Fb_active.png');
}
.instagram {
    background: url('/img/IG.png') no-repeat;
}
.instagram:hover {
    background-image: url('/img/IG_active.png');
}
.twitter{
    background: url('/img/Twitter.png') no-repeat;
}
.twitter:hover {
    background-image: url('/img/Twitter_active.png');
}
.linkedin {
    background: url('/img/Linkedin.png') no-repeat;
}
.linkedin:hover {
    background-image: url('/img/Linkedin_active.png');
}
.pinterest {
    background: url('/img/Pinterest.png') no-repeat;
}
.pinterest:hover {
    background-image: url('/img/Pinterest_active.png');
}
.lightbox-background{
    background: rgba(0,0,0,.8);
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 1;
    opacity: 0.8;
}
.lightbox-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 860px;
    height: 360px;
    border: 16px solid #797979;
    background-color: white;
    z-index: 1002;
    overflow: hidden;
    font-family: Roboto;
    
}
.lightbox-content button{
    position: absolute;
    z-index: 500;
    right: 10px;
    top: 10px;
    background: none;
    border: none;
    font-size: 9px;
    font-weight: 700;
}
.lightbox-image{
    float:  left;
    background-size: contain;
}
.lightbox-desc{
    float: right;
    width: 30%;
    margin-top: 50px;
    color: #555455;
    font-size: 11px;
    position: relative;
    padding-right: 60px;
    text-align: left;
    line-height: 16px;
}
.lightbox-desc h3{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 23px;
    line-height: 16px;
}
.lightbox-actions{
    margin-top: 20px;
    color: var(--lipstick);
}
.lightbox-like{
    border-radius: 19px;
    border: solid 0.5px var(--lipstick);
    background: url('/img/Like.png') no-repeat 13px center;
    padding: 3px 20px 3px 24px;
    text-align: center;
    display: inline;
}
.lightbox-recipe{
    display: inline;
    background: url('/img/Seta_direita.png') no-repeat left center;
    padding: 3px 20px 3px 14px;
    margin-left: 20px;
}